.filter {
  flex-basis: 24%;
  position: relative;
  background-color: #fff;
  height: max-content;
  padding: 0.5em;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 10px;
  transition: left 1s;
  @media (min-width: 500px) and (max-width: 986px) {
    height: -webkit-fill-available;
    overflow-y: overlay;
    position: fixed;
    left: -260px;
    top: 0;
    z-index: 11;
  }
  div {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  ul {
    list-style-type: none;
    padding: 0.5em;
    text-align: left;
    li {
      margin: {
        top: 10px;
        bottom: 10px;
      }
      &.title {
        font-weight: 500;
        color: #555;
      }
      input[type="radio"] {
        display: none;
        margin : {
          left: auto;
          right: 10px;
        }
      }
      label {
        font-weight: 400;
        color: #666;
        margin-left: 35px;
        font-size: 14px;

        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -30px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #ccc;
          background-color: transparent;
        }
      }
      input:checked ~ label::before {
        background-color: #7367f7;
        border: 1px solid #7367f7;
      }
    }
  }
}
.ratings {
  ul .title {
    margin-bottom: 15px;
  }
  ul .rate {
    width: 100%;
    padding: 10px 5px;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .stars {
      font-size: 14px;
      cursor: pointer;
      color: #9187fa;
      .fa-solid {
        color: #ff9f43 !important;
      }
    }
  }
}
#range {
  width: 100%;
}
.closeFilter {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #7367f7;
  display: none;
  @media (min-width: 500px) and (max-width: 986px) {
    display: block;
  }
}
