.shop-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  grid-gap: 1.5rem;
  padding: 1rem;
}

.shop {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-gap: 0.9rem;
}

@media screen and (max-width: 992px) {
  .filter-container {
    display: none;
  }
  .shop-container {
    grid-template-columns: 1fr;
  }
}
