.ItemsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-top: 2rem;
    padding-left: 0;
}

li{
    list-style: none;
}

@media(max-width: 1198px){
    .ItemsList{
        grid-template-columns: 1fr;
        justify-content: center;
    }
}