/* variables */
/* ------------- */
$bg-main: #f8f8f8;
$btn-secondary-c: #f6f6f6;
$bg-items: #fff;
$bg-light: #f5f5f5;
$text-c-1: #625f6e;
$text-c-2: #5e5873;
$color-main: #6e6b7b;
$purple-main: #7367f0;
$shadow-c: rgba(34, 41, 47, 0.05);
/* ------- */
